.App {
  padding-bottom: 32px;
}

.App-warning-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.App-game {
  background-color: #eeeeee;
}

.App-text-sections-container {
  display: flex;
  justify-content: center;
  margin-left: 32px;
  margin-right: 32px;
  margin-top: 16px;
}

.App-text-sections {
  display: flex;
  flex-direction: column;
}

@media (max-width: 630px) {
  .App-text-sections-container {
    margin-left: 16px;
    margin-right: 16px;
  }
}
