.Game {
  margin-top: 48px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Game-player-section {
  display: flex;
  justify-content: center;
}

.Game-spacer {
  width: 48px;
}

.Game-computer {
  background-color: #80cbc4;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center
}

.Game-text-sections > * {
  margin-top: 48px;
}