.Game {
  padding-top: 48px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.Game-error-container {
  position: absolute;
  background-color: white;
  width: 200px;
  top: 0;
  right: 0;
}

.Game-error {
  font-size: 17px;
  margin: 16px;
}

.Game-participants-section {
  display: flex;
  justify-content: center;
}

.Game-participant {
  background-color: #fafafa;
  padding: 12px;
  border-radius: 4px;
}

.Game-spacer {
  width: 48px;
  height: 48px;
}

.Game-computer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Game-webcam {
  position: relative;
}

.Game-webcam-class {
  position: absolute;
  bottom: 8px;
  right: 6px;
}

.Game-info-container {
  height: 70px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.Game-result-enter {
  opacity: 0;
}

.Game-result-enter.Game-result-enter-active {
  opacity: 1;
  transition: opacity 80ms ease-in;
}

.Game-result-exit {
  opacity: 1;
}

.Game-result-exit.Game-result-exit-active {
  opacity: 0;
  transition: opacity 80ms ease-out;
}

.Game-hint-container {
  display: flex;
  align-items: center;
  height: 70px;
}

.Game-hint {
  font-size: 17px;
  text-align: center;
  color: rgba(0, 0, 0, 0.6)
}

.Game-hint-img {
  vertical-align: middle;
}

.Game-hint-enter {
  opacity: 0;
}

.Game-hint-enter.Game-hint-enter-active {
  opacity: 1;
  transition: opacity 120ms ease-in;
}

.Game-hint-exit {
  opacity: 1;
}

.Game-hint-exit.Game-hint-exit-active {
  opacity: 0;
  transition: opacity 120ms ease-out;
}

@media (max-width: 630px) {
  .Game-participants-section {
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }

  .Game {
    padding-top: 16px;
  }

  .Game-spacer {
    height: 16px;
    width: 16px;
  }

  .Game-info-container {
    height: 64px;
  }
}

