.Header {
  background-color: teal;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
}

.Header-title {
  margin-left: 24px;
  color: white;
  font-size: 22px;
}

.Header-title::before {
  content: "RockPaperScissorsLizardSpock.js";
}

.Header-github {
  margin-right: 24px;
}

.Header-github:hover, .Header-github:focus {
  opacity: 0.95;
}

@media (max-width: 630px) {
  .Header {
    height: 48px;
  }

  .Header-title {
    margin-left: 12px;
  }

  .Header-title::before {
    content: "RPSLS.js";
  }

  .Header-github {
    margin-right: 12px;
  }
}
